@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  overflow: hidden;
}

:root {
  --ff-poppins: 'Poppins', sans-serif;
  --ff-sans: 'Open Sans', sans-serif;
  --clr-pink: hsl(322, 100%, 66%);
  --clr-pale-cyan: hsl(193, 100%, 96%);
  --clr-dark-cyan: hsl(192, 100%, 9%);
  --clr-grayish-blue: hsl(208, 11%, 55%);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-sans);
  background-color: #fff;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

button:hover {
  opacity: 75%;
  cursor: pointer;
}
.navbar__button {
  padding: 0.5rem 1.5rem;
  color: var(--clr-dark-cyan);
  background-color: white;
  font-weight: bolder;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.primary__button {
  padding: 0.8rem 3.5rem;
  background-color: var(--clr-pink);
  color: white;
  border-radius: 22px;
  font-weight: bolder;
  -webkit-filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.header {
  background-image: url('../images/bg-hero-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
}

.navbar {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo-container {
  width: 6rem;
}

.hero {
  height: calc(100vh - 3rem);
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hero h1 {
  font-family: var(--ff-poppins);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: var(--ff-sans);
  margin-bottom: 1rem;
}

.hero__image-container {
  width: 80%;
  margin: 0 auto;
}
